body {
    font-family: Arial, sans-serif;
    background-color: #f4c2c2;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #acc2eb;
    padding: 20px;
    border-bottom: 10px solid #a52a2a;
   

}

.header-content {
    flex-grow: 1;
}

img.logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 33px;
}

h2 {
    margin: 5px 0;
    font-size: 30px;
    color: #a52a2a;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
}

h3 {
    background-color: rgb(116, 116, 204);
    padding: 10px;
    margin: -20px -20px 20px -20px;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 80%;
    margin: 10px 0 5px 0;
    text-align: left;
    font-weight: bold;
}

input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #a52a2a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #800000;
}
